
<div class="d-flex justify-content-end">
    <button class="close-button" mat-dialog-close>x</button>
    </div>
<div class="d-flex justify-content-center align-items-center flex-column ">
      
    <div>
        <h1>Congratulations</h1>
    </div>
    <div>
        <img src="../../assets/images/congratulations.gif" height="350" width="350">
    </div>
    <div >
        You have successfully completed all the challenges.
    </div>
        <button class="dialog-ok-button" mat-button mat-dialog-close>ok</button>
</div>