<div class="nav-color">
    <div class="m-2">
        <img src="../../assets/images/Logo DAST 1.png" height="50" />
    </div>
</div>
<div class="hero-section">
    <img src="../assets/images/header-image.png" alt="image"
        class="header-image">
    <div class="heading">
        <div class="heading-color">Want to learn about Solana vulnerabilities?</div>
        <div class="hero-text">
            Welcome to DAST (Detasec Awesome Solana Tutorials), where Solana developers can learn
            how to securely develop Solana smart contracts with the help of
            interactive examples!
        </div>
        <div class="button-wrapper" >
            <button class="hero-button" (click)="scrolltoImage()">
                Let's Go
            </button>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center m-auto" id="scroll-to-down">
    <div class="vulnerability1">
        <h4 class="h1-size d-flex justify-content-center font-color">
            Integer overflows
            </h4>
        <img src="../assets/images/vulnerable-img1.png"
            class="vulnerability1-image" [routerLink]="['/vuln1']">
    </div>
    <div class="vulnerability1">
        <h4 class="h1-size d-flex justify-content-center font-color">Integer underflows:</h4>
        <img src="../assets/images/vulnerable-img2.png"
            class="vulnerability1-image" [routerLink]="['/vuln2']">
    </div>
    <div class="vulnerability1">
        <h4 class="h1-size d-flex justify-content-center font-color">Missing signer checks</h4>
        <img src="../assets/images/vulnerable-img3.png"
            class="vulnerability1-image" [routerLink]="['/vuln3']">
    </div>
    <div class="vulnerability1">
        <h4 class="h1-size d-flex justify-content-center font-color">Missing
            ownership checks</h4>
        <img src="../assets/images/vulnerable-img4.png"
            class="vulnerability1-image" [routerLink]="['/vuln4']">
    </div>
</div>
